.reserved {
    color: #b30000;
}
.reserved > .vpd-day-effect {
    background-color: #f50000 !important;
    border: solid 1px #b30000 !important;
}
.custom-price {
    color: #087a00;
}
.custom-price > .vpd-day-effect {
    background-color: #0bbc00 !important;
    border: solid 1px #087a00 !important;
}
.vpd-day.off > .d-flex > .off-date {
    display: inline-block;
}
.vpd-day.vpd-selected.off > .d-flex > .off-date {
    display: none;
}
.vpd-day[disabled].off > .d-flex > .off-date {
    display: none;
}
.off-date {
    display: none;
    border-top: 4px solid red;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
}
.vpd-day.fast-reserve > .d-flex > .fast-reserve-date {
    display: inline-block;
}
.fast-reserve-date {
    display: none;
    border-top: 4px solid purple;
    width: 100%;
    border-radius: 15px;
    font-size: 14px;
    text-align: center;
}
.vpd-day.vpd-selected.fast-reserve > .d-flex > .fast-reserve-date {
    display: none;
}
.vpd-day[disabled].fast-reserve > .d-flex > .fast-reserve-date {
    display: none;
}
.vpd-month-label {
    font-size: 10px !important;
}
.vpd-day {
    width: 25px;
    height: 25px;
    line-height: 10px;
    font-size: 8px;
    margin: 8px 0.89em;
}
.vpd-day-price {
    display: block;
}
.vpd-day > .vpd-day-effect {
    left: -6px;
    top: -14px;
}
.vpd-days {
     padding: 0 18px
}

@media (min-width: 600px) {
    .vpd-month-label {
        font-size: 14px !important;
    }
    .vpd-content {
        width: 530px;
    }
    .vpd-days {
        padding: 10px 18px
    }
    .vpd-weekday {
        margin: 0 0.9em;
        width: 45px;
        height: 45px;
        font-size: 14px;
    }
    .vpd-day {
        width: 45px;
        height: 45px;
        line-height: 15px;
        font-size: 14px;
        margin: -3px 0.87em;
    }
    .vpd-day > .vpd-day-effect {
        left: 4px;
        top: -12px;
    }
}
