body {
  font: 'SofiaPro', sans-serif;
  background: #f9faff;
  height: 100vh;
}

.logo {
  height: 40px;
  background-size: contain;
  background: black;
  margin-bottom: 40px;
}

.wrapper {
  border-radius: 3px;
  width: 630px;
  margin: 48px auto 0;
  margin-bottom: 72px;
}

.verificationSection {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

 .title {
    color: #152081;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
  }

  .message{
    color: #464646;
    font-size: 16px;
    margin-bottom: 18px;
    text-align: center;
    line-height: 28px;
    width: 75%;
  }

.verifyBtn {
  border: none;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  background-image: linear-gradient(273deg, #347fe0, #6f65e9 49%, #6931d4);
}

.footer {
  background: #7e49d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallLogo {
  height: 15px;
  width: 74px;
  background: white;
  background-size: contain;
  margin-top: 16px;
  margin-bottom: 16px;
}

.socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 192px;
  height: 30px;
  margin: 32px auto 0 auto;
  margin-bottom: 24px;
}

.facebook {
  width: 30px;
  height: 30px;
  background: white;
}

.twitter {
  width: 30px;
  height: 30px;
  background: white;
}

.youtube {
  width: 30px;
  height: 30px;
  background: white;
}

.telegram {
  width: 30px;
  height: 30px;
  background: white;
}

@media (max-width: 768px) {
    .message{
        width: 100%;
    }
    .verifyBtn {
        width: 100%;
    }
}
